@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
/*body {
    background-color: gray;
    font-family: "Galada", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
} */

.menu {
    background-color: black;
    display: inline-flex;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
}

.menu a:hover {
    background-color: white;
    color : black;
}

.menu a.activo {
    background-color: white;
    color: black;
}

/* Social */

.social {
    margin: 30 px 0;
}

.social a {
    padding: 0 10px;
    color: white;
}

.social a:hover {
    color: black;
}

/* boton */

.boton a{
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 4px;
    border-radius: 4px;
    margin: 30px 0;
    background-image: "Imagenes/Icono.jpg";
}

.boton a:hover {
    color: red;
    background-color: white;
}